html,body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;

}
.wrapper{
    width: 800px;
    height: 100%;
    margin: 0 auto;
}

.rHeader{
    width: 100%;
    height: 123px;
    background-color: #666666;
    color: white;

    position: relative;
}

.rHeader h1{
    font-size: 35px;
    margin: 0 0 0 40px;

    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.title{
    margin-bottom: 4px;
}
.title:last-of-type{
    margin-bottom: 0;
}
.title h2{
    width: 194px;
    height: 202px;
    margin: 0;
    marign-bottom: 4px;
    background-color: #cccccc;

    display: inline-block;
    line-height: 202px;
    text-align: center;
}
.title h2:last-of-type{
    margin-bottom: 0;
}
.Information{
    display: inline-block;
    list-style-type: none;
    padding-left: 40px;
}
.Information li{
    font-size: 15px;
    margin-right: 30px;
    display: inline-block;
    float: left;
}
.main{
    border: 1px solid #666666;
}
/*buttonGroup*/
.buttonGroup{
    position: fixed;
    top: 10px;
    right: 20px;
}